<h4>Welcome to my blog!</h4>

<p>
	My name is <strong>Tyler</strong> and this is my blog!
</p>
<p>
	Follow the blog!
</p>

<%= link_to 'Let me check your articles', articles_path, class: "show-articles" %>