<div class="article-top">
	<h4 class="article-title">Edit article</h4>
	<%= link_to articles_path, class: "new-article" do %><i class="fa fa-arrow-left"></i><% end %>
</div>

<%= render 'articles/shared/form' %>