<!DOCTYPE html>
<html>
  <head>
    <title>RailsNew</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<header>
	<div class="container">
		<h3>My Rails Blog</h3>
		<div>
			<span>Follow me on</span>
			<ul>
			<li><a href="#"></audio><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-instagram"></i></a></li>
				<li><a href="#"><i class="fa fa-snapchat"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			</ul>
		</div>
	</div>
</header>

<div class="wrapper">
	
    <%= yield %>
	
</div>

  </body>
</html>
